{% extends 'base.html' %}
{% block title %} edit_weight {% endblock %}
{% block content %}

{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}

<div class="row justify-content-md-center m-2">
  <div class="col-md-7 col-lg-5">
    <h2 class="join-message" style="font-family: sans-serif; text-align: center;">Your progress</h2>

<form method="POST" id="user_form">
  {{ form.hidden_tag() }} 

  {% for field in form if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field(placeholder=field.label.text, class="form-control") }}
      <span>
        {% if field.errors %}
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
      {% for error in field.errors %}     
        <span class="text-danger">{{ error }}</span>      
      {% endfor %}

    </p>

  {% endfor %}
 
  <button class="btn btn-primary btn-block btn-lg">Save</button>
</form>
</div>
</div> {% endblock %}